<%- include('partials/header') -%>
<div class="flex w-full">
  <div class="grid h-auto flex-grow card bg-emerald-100 rounded-box place-items-center">
    <h1 class="mb-4 text-lg font-semibold">現在に保存されているレストラン</h1>
    <ul class="p-3">
      <% for (let i = 0; i < restaurants.length; i++) {%>
        <li class="mb-3">
          <p><%= restaurants[i].name %>, <%= restaurants[i].area %>, <%= restaurants[i].food %></p>
          <a class="text-green-700" href="/restaurants/<%= restaurants[i]._id %>">エディット</a> &nbsp; 
          <a class="text-red-700" href="/restaurants/deleteRestaurant/<%= restaurants[i]._id %>" onclick="return confirm('本当に消したいですか？');">デリート</a>
        </li>
      <% } %>
    </ul>
  </div>

  <div class="divider divider-horizontal"></div>

  <div class="grid h-auto flex-grow card bg-emerald-100 rounded-box place-items-center">
    <div class="mt-5">
      <h1 class="mb-4 text-lg font-semibold">レストランを追加します</h1>
      <!-- put the full path and route for action -->
      <form action="/restaurants/createRestaurant" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">レストランの名前</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
          <label for="caption" class="form-label">どこにあるか</label>
          <textarea class="form-control" id="area" name="area"></textarea>
        </div>
        <div class="mb-3">
          <label for="caption" class="form-label">食べ物の種類</label>
          <textarea class="form-control" id="food" name="food"></textarea>
        </div>
        <button type="submit" class="btn btn-accent" value="Upload">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
