<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新しいレストラン</title>
</head>
<body>
  <header><a href="/">メイン</a></header>
  <h1>current restaurants</h1>
  <ul>
    <% for (let i = 0; i < restaurants.length; i++) {%>
      <li>
        <p><%= restaurants[i].name %></p>
        <p><%= restaurants[i].area %></p>
        <p><%= restaurants[i].food %></p>
        <a href="/restaurants/<%= restaurants[i]._id %>">Edit</a> &nbsp; 
        <a href="/restaurants/deleteRestaurant/<%= restaurants[i]._id %>" onclick="return confirm('Are you sure you wish to delete this?');">Delete</a>
      </li>
    <% } %>
  </ul>

  <div class="mt-5">
    <h1>Add a restaurant</h1>
    <!-- put the full path and route for action -->
    <form action="/restaurants/createRestaurant" method="POST">
      <div class="mb-3">
          <label for="title" class="form-label">Restaurant Name</label>
          <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="mb-3">
        <label for="caption" class="form-label">Area</label>
        <textarea class="form-control" id="area" name="area"></textarea>
      </div>
      <div class="mb-3">
        <label for="caption" class="form-label">Food</label>
        <textarea class="form-control" id="food" name="food"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" value="Upload">Submit Restaurant</button>
    </form>
  </div>

  <!-- test button -->
  <!-- <div><form action="/createRestaurant" method="GET">
    <button type="submit">Submit</button>
  </form></div> -->
</body>
</html>